<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title> Job WishList </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        
    </head>

    <body>
        
        <header>

            <h2> My Job WishList </h2>

            <h3 id="job-summary-id">  </h3>

        </header>

        <main class="container">

            <section class="element-class">

                <div class="job-add-class">
                    <div class="add-button-class"> + </div>
                </div>

                <div class="error-class">

                </div>

                <div class="form-modal-class" id="add-form-modal-id">
                    
                    <div class="close-button-class">
                        <span id="form-close-btn-id">&times;</span>
                    </div>

                    <form id="form" >
                        <div class="form-class">
                            <label> <h2>Add a Job</h2> </label>
                            <input type="text" placeholder="Company Name" id="company-name-id" class="form-element-class" required autofocus>
                            <input type="text" placeholder="Job Title" id="job-title-id" class="form-element-class" required>
                            <button type="submit" id="submit-button-id">Continue</button>
                        </div>
                    </form>   

                </div>

                <div class="form-modal-class" id="delete-form-modal-id">

                    <form id="delete-form-id">
                    
                        <div class="form-class">

                            <label><h2>Delete a Job </h2></label>
                            <label><h3>Are you Sure You want to Delete?</h3></label>
                            <div class="delete-button-class">
                                <button id="cancel-delete-id">Cancel</button>
                                <button id="confirm-delete-id">Continue</button>
                            </div>

                        </div>

                    </form>

                </div>

            </section>

            <section class="list-class">
                
                <div class="job-list-class">

                </div>

            </section>


        </main>

        <footer>

        </footer>


        
    </body>

</html>