header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding: 8px;

    h2{
        color: #5a015a;
    }

    h3{
        color: lightgray;
    }
    
    

}

@media screen and (max-width: 220px)
{
    header{
            font-size: 0.75em;
        
    }
}